<div class="fsc-zg">
    <h2>{{localize headingTitle}}</h2>
    <div>{{{localize description}}}</div>
    <ul class="fsc-_g">
        <li>
            <div class="fsc-ah"><span class="fa {{display.calendarMigrationStatusIcon}}"></span></div>
            <div class="fsc-bh">
                <span>{{localize 'FSC.Migration.v1v2.Calendar'}}</span>
            </div>
        </li>
        <li>
            <div class="fsc-ah"><span class="fa {{display.globalConfigMigrationStatusIcon}}"></span></div>
            <div class="fsc-bh">
                <span>{{localize 'FSC.Migration.v1v2.GlobalConfiguration'}}</span>
            </div>
        </li>
        <li>
            <div class="fsc-ah"><span class="fa {{display.notesMigrationStatusIcon}}"></span></div>
            <div class="fsc-bh">
                <span>{{localize 'FSC.Migration.v1v2.Notes'}}</span>
            </div>
        </li>
        <li>
            <button class="fsc-ya fsc-za fsc-bf" {{#unless display.enableCleanUp}}disabled{{/unless}}>{{localize 'FSC.Migration.v1v2.Cleanup'}}</button>
        </li>
    </ul>
    {{#if display.migrationDone}}
        <div class="fsc-ch fsc-th">{{localize 'FSC.Migration.v1v2.Complete' }}</div>
    {{/if}}

</div>